<% include ../partials/header %>

  <h1>
    Northcoders News
  </h1>

  <h2>API Endpoints</h2>

  <h3>GET
    <span>/api</span>
  </h3>
  <p>Serves an HTML page with documentation for all the available endpoints</p>

  <h3>GET
    <span>/api/topics/</span>
  </h3>
  <p>Get all the topics</p>

  <h3>GET
    <span>/api/topics/:topic/articles</span>
  </h3>
  <p>Return all the articles for a certain topic</p>

  <h3>GET
    <span>/api/articles</span>
  </h3>
  <p>Returns all the articles</p>

  <h3>GET
    <span>/api/articles/:article_id/comments</span>
  </h3>
  <p>Get all the comments for a individual article</p>

  <h3>POST
    <span>/api/articles/:article_id/comments</span>
  </h3>
  <p>Add a new comment to an article. This route requires a JSON body with a comment key and value pair</p>
  <p>e.g: {"comment": "This is my new comment"}</p>

  <h3>PUT
    <span>/api/articles/:article_id</span>
  </h3>
  <p>Increment or Decrement the votes of an article by one. This route requires a vote query of 'up' or 'down'</p>
  <p>e.g: /api/articles/:article_id?vote=up</p>

  <h3>PUT
    <span>/api/comments/:comment_id</span>
  </h3>
  <p>Increment or Decrement the votes of a comment by one. This route requires a vote query of 'up' or 'down'</p>
  <p>e.g: /api/comments/:comment_id?vote=down</p>

  <h3>DELETE
    <span>/api/comments/:comment_id</span>
  </h3>
  <p>Deletes a comment</p>

  <h3>GET
    <span>/api/users/:username</span>
  </h3>
  <p>Returns a JSON object with the profile data for the specified user.</p>

  <% include ../partials/footer %>